$h2FontSize: 30px;
$h3FontSize: 25px;
$h4FontSize: 20px;
$pfontSize: 16px;
$navFontSize: 16px;
$fontSmall: 14px;

$h2LineHeight: 45px;
$h4LineHeight: 26px;
$pLineHeight: 24px;

$gap: 40px;

$fontWeightSemilight: 400;
$fontWeightSemibold: semibold;
$fontWeightBold: bold;

$primary: #E2107D;
$phover: #e2107cc4;
$black: #0b0b0b;
$linkColor: #3B9AD7;
$linkColorHover: #13669a;
$bshade: #333842;
$footerTextColor: rgba(255, 255, 255, 0.6);
$white: #fff;
$wShade: #f0f2f5;
$red: #FF3C3C;
$green: #21A845;
$orange: #FFBA43;

$md: 580px;
$lg: 800px;
$xl: 980px;
$xxl: 1220px;